<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Trends - Mood Trace</title>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


<!-- FontAwesome icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
integrity="correct-fontawesome-integrity-value" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--Link to custom style sheet-->
<link rel="stylesheet" href="/styles/style.css" type="text/css">


<!-- Include Luxon -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.0.2/luxon.min.js"></script>

<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Include Chart.js adapters for Luxon -->

<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>

<!-- Include Chart.js Datalabels plugin -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<!-- Include jQuery, Popper.js, and Bootstrap JS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<!--navbar script-->
<script src="header/navbar.js" defer></script>
<!--navbar template-->
<my-navbar isloggedin="true"></my-navbar>

<!--script link to statistics scripts-->

<script src="/scripts/statistics-scripts.js"></script>

</head>
<body class="statistics-body">
    <div class="statistics-container">

        <div class="row">
            <div class="col-md-12">
                <div class="statistics-card">
                    <div class="statistics-card-body">
                        <h5 class="statistics-card-title text-center">Emotion levels over time</h5> <!-- Center the title -->
                        <div id="no-data-message" style="display: none;">No data or not enough snapshot records. Please add 3 or more mood <a href="/record">snapshots</a> to view an emotion chart here</div> 
                        <!-- Canvas element with ID "statistics-chart" -->
                        <canvas id="statistics-chart" width="800" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

              <!-- Add date filter -->
              <div class="row">
                <div class="col-md-12">
                    <div class="form-inline justify-content-center">
                        <div class="form-group mr-2">
                            <label for="dateFrom">From:</label>
                            <input type="date" class="form-control" id="dateFrom">
                        </div>
                        <div class="form-group mr-2">
                            <label for="dateTo">To:</label>
                            <input type="date" class="form-control" id="dateTo">
                        </div>
                        <button class="btn btn-primary" onclick="filterByDate()">Apply Filter</button>
                    </div>
                </div>
            </div>
    
        <!-- Container for trend info -->
        <div class="row">
            <div class="col-md-6">
                <div class="statistics-insights-container">
                    <div class="row" id="statistics-container">
                        <!-- Statistical insights will be added here dynamically. If not, a "no data available" message will be displayed-->
                    </div>
                </div>
            </div>
            <!-- Container for displaying most common triggers -->
            <div class="col-md-6" id="common-triggers-container"></div>
        </div>
    </div>
</body>
</html